.container#content {
    margin-top: 60px;
  }
  body {
    background-color: $light-gray;
    font-family: $site-font;
  }
  a {
    color: #024083;
    &:hover {
      color: #80afe2;
      text-decoration: none;
    }
  }
  h1 {
    margin-bottom: 1rem;
    padding-top: 3rem;
    text-align: left;
  }
  .navbar {
    background-color: white;
    // border-right: 1px solid rgba(0, 0, 0, 0.4);
    // border-left: 1px solid rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid rgba(165, 164, 164, 0.4);
    line-height: 1;
  }
  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-brand {
    color: #0958ac;
    &:hover {
      color: #88baf0;
    }
  }
  ul {
    list-style: none;
    padding: 0;
}