.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: $dark-gray;

        &.instagram:hover {
          color: rgb(221, 75, 57);
        }
        &.facebook:hover {
          color: rgb(45, 90, 182);
        }
        &.twitter:hover {
          color: rgb(69, 167, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}

.logo {
  $breakpoint-tablet: 576px;
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}
